<footer>
    <div class="footer">
        <div class="container">
            <div class="row vdivide">
                <div class="col-md-3 widget">
                    <h2>聯絡方式</h2>
                    <ul class="widget_content">
                        <p>TEL ：<a href="tel:(05)272-0411ext24601">(05)272-0411 分機 24601</a></p>
                        <p>FAX ：<a href="fax:(05)272-1501">(05)272-1501</a></p>
                    </ul>

                </div>
                <div class="col-md-3 widget">
                    <h2>地址</h2>
                    <div class="widget_content">
                        <p><a href="">621 嘉義縣民雄鄉大學路一段168號<br/>(管理學院資訊管理學系)</a></p>
                    </div>
                </div>
                <div class="col-md-3 widget">
                    <h2>交通資訊</h2>
                    <div class="widget_content">
                        <p>
                            <i class="fa fa-car" aria-hidden="true"></i> &nbsp;
                            <i class="fa fa-bus" aria-hidden="true"></i> &nbsp;
                            <i class="fa fa-subway" aria-hidden="true"></i> &nbsp;
                            <i class="fa fa-train" aria-hidden="true"></i> &nbsp;
                        </p>
                        <p><a href="https://www.ccu.edu.tw/traffic_info.php">>中正大學交通資訊網</a></p>
                    </div>
                </div>
                <div class="col-md-3 widget">
                    <h2>加入我們</h2>
                    <div class="widget_content">
                        <img src="/assets/img/facebook.png" alt="..." class="img-circle social_img">
                        <img src="/assets/img/line@.png" alt="..." class="img-circle social_img">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 copyright">
                    <p>© 2016 | All Rights with MIT license</p>
                </div>
                <div class="col-md-6 bottom_link">
                     <a routerLink="/login" routerLinkActive="active">登入管理系統</a>|
                    <a href="#">聯絡我們</a>|
                    <a href="#">網站地圖</a>
                </div>
            </div>
        </div>
    </div>
</footer>
