<div class="container"style="max-width:500px;">
    <div class="row">
      <div class="col-md-12">
        <div class="tabbable-panel" >
          <div class="tabbable-line">
            <ul class="nav nav-tabs">
              <li class="tablinks active" onmouseover="openTab(event, 'tab_default_1')">
                <a>
  							所有公告 </a>
              </li>
              <li class="tablinks" onmouseover="openTab(event, 'tab_default_2')">
                <a>
  							行政公告 </a>
              </li>
              <li class="tablinks" onmouseover="openTab(event, 'tab_default_3')">
                <a>
  							學術公告 </a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_default_1">
                <table class="table table-hover">
                  <tbody>
                    <tr class='clickable-row' data-href='#'>
                      <td class="col-md-9">本系徵聘醫資管及MIS組專任教師各1名</td>
                      <td class="data-text">2016-09-30</td>
                    </tr>
                    <tr class='clickable-row' data-href='#1'>
                      <td class="col-md-9">106學年度碩士推薦甄試第二階段複試排程</td>
                      <td class="data-text">2016-09-30</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="tab_default_2">
                <table class="table table-hover">
                  <tbody>
                    <tr class='clickable-row' data-href='#3'>
                      <td class="col-md-9">本系徵聘醫資管及MIS組專任教師各1名</td>
                      <td>2016-09-05</td>
                    </tr>
                    <tr class='clickable-row' data-href='#4'>
                      <td class="col-md-9">106學年度碩士推薦甄試第二階段複試排程</td>
                      <td>2016-09-01</td>
                    </tr>
                    <tr class='clickable-row' data-href='url://some-other-link/'>
                      <td class="col-md-9">105大學個人申請入學"個人資料表"下載</td>
                      <td>2016-03-16</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="tab_default_3">
                <table class="table table-hover">
                  <tbody>
                    <tr class='clickable-row' data-href='url://some-other-link/'>
                        <td class="col-md-9">本系徵聘醫資管及MIS組專任教師各1名</td>
                        <td>2016-09-30</td>
                    </tr>
                    <tr class='clickable-row' data-href='url://some-other-link/'>
                      <td class="col-md-9">106學年度碩士推薦甄試第二階段複試排程</td>
                      <td>2016-09-30</td>
                    </tr>
                    <tr class='clickable-row' data-href='url://some-other-link/'>
                      <td>本系舉辦大學部新生家長座談會</td>
                      <td>2016-04-15</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="container" style="max-width:450px;">
            <div class="pull-right">
            <a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>更多消息</a>
          </div></div>
        </div>
      </div>
    </div>
  </div>